@model App.web.ViewModels.UserEditViewModel

@{
    ViewData["Title"] = "Edit User";
    var roles = ViewBag.AllRoles as List<App.web.Models.Role>;
}

<div class="user-details">
    <form asp-action="Edit" asp-controller="Administration" method="post" id="editForm">
        <input type="hidden" asp-for="UserId" />

        <h2>@ViewData["Title"]</h2>

        <div class="input-field">
            <label asp-for="FullName">Full Name</label>
            <input asp-for="FullName" type="text" required />
        </div>

        <div class="input-field">
            <label asp-for="Email"></label>
            <input asp-for="Email" type="email" required />
        </div>

        <div class="input-field">
            <label asp-for="EmailConfirmed">Email Confirmed</label>
            <input asp-for="EmailConfirmed" type="checkbox" />
        </div>

        <div class="input-field">
            <label asp-for="IsActive">Active</label>
            <input asp-for="IsActive" type="checkbox" />
        </div>

        <div class="input-field">
            <label asp-for="PhotoUrl">Photo Url</label>
            <input asp-for="PhotoUrl" type="text" required />
        </div>

        <div class="input-field">
            <label asp-for="TimeZone">TimeZone</label>
            <input asp-for="TimeZone" type="text" required />
        </div>

        <div class="input-field">
            <label asp-for="Language">Language</label>
            <input asp-for="Language" type="text" required />
        </div>

        <div class="input-field">
            <label>Roles</label>
            <div class="list">
                @foreach (var role in roles)
                {
                    var isChecked = Model.SelectedRoles.Contains(role.RoleId);
                    <div class="form-check">
                        <p class="lbl-opc">@role.Name</p>
                        <input type="checkbox"
                               name="SelectedRoles"
                               value="@role.RoleId"
                               @(isChecked ? "checked" : "") />
                    </div>
                }
            </div>
        </div>

        <div class="actions">
            <button type="submit" class="btn btn-success btn-sm">Save Changes</button>
            <a class="btn btn-secondary btn-sm" href="/Administration/Index">Back</a>
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>
    </form>
</div>