@model App.web.ViewModels.AdministrationViewModel

@{
    ViewData["Title"] = "Administration Users List";
}

<div class="layout-top">
    <h2>@ViewBag.Title</h2>
    <div class="board-top">
        <div class="tbl-opc">
            <input type="text" id="searchInput" name="searchTerm" placeholder="Search by name or email" data-url="@Url.Action("Index", "Administration")" />
            <a href="@Url.Action("Register", "Administration")"><i class="bi bi-pencil-square"></i>Create New</a>
        </div>
    </div>
    <div class="board-down">
        <div class="tbl-user" id="userTableContainer">
            @await Html.PartialAsync("_UsersTable", Model)
        </div>
        <hr />
    </div>
</div>

<div class="layout-down">
    <div id="actionPanel">
        <p>Admin your accounts here.</p>
    </div>
</div>
