@model IEnumerable<App.web.Models.User>

@{
    ViewData["Title"] = "Users List";
}

<div class="layout-board">
    <div class="board-left">
        <h2>Users List</h2>
        <div id="usersTable">
            @await Html.PartialAsync("_UsersTable", Model)
        </div>
        <button id="createUser" class="btn btn-success mt-2">➕ Crear Usuario</button>
    </div>

    <div class="board-right">
        <div id="actionPanel">
            <p>Selecciona una acción de la tabla para ver más información aquí.</p>
        </div>
    </div>
</div>
