@model App.web.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "Set a New Password";
    Layout = "_AccountLayout";
}

<div class="wrapper">
    <div class="account-mark"></div>
    <div class="account-box">
        <form asp-action="ResetPassword" method="post" id="resetPasswordForm" novalidate>
            <h2 class="form-title">@ViewData["Title"]</h2>
            <input type="hidden" asp-for="Token" />

            <div class="input-field">
                <input asp-for="NewPassword" type="password" required placeholder="********" />
                <label asp-for="NewPassword"></label>
            </div>

            <div class="input-field">
                <input asp-for="ConfirmPassword" type="password" required placeholder="********" />
                <label asp-for="ConfirmPassword"></label>
            </div>

            <button class="btn-send" type="submit">Change Password</button>

            <div asp-validation-summary="All" class="validation-summary"></div>
        </form>
    </div>
</div>

<!-- Modal mensajes -->
<div class="modal fade" id="messageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content custom-modal">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Message</h5>
            </div>
            <div class="modal-body" id="modalBody">...</div>
            <div class="modal-footer">
                <button type="button" class="btn-custom btn-secondary" id="btnContinuar" data-bs-dismiss="modal">Continue</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/account.js" asp-append-version="true"></script>
}