@model App.web.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "Set a New Password";
    Layout = "_AccountLayout";
}

<div class="wrapper">
    <form asp-action="ResetPassword" method="post">
        <h2>@ViewData["Title"]</h2>
        <input type="hidden" asp-for="Token" />

        <div class="input-field">
            <input asp-for="NewPassword" type="password" required />
            <label asp-for="NewPassword">Enter your New Password</label>
            <span asp-validation-for="NewPassword"></span>
        </div>

        <div class="input-field">
            <input asp-for="ConfirmPassword" type="password" required />
            <label asp-for="ConfirmPassword">Confirm Password</label>
            <span asp-validation-for="ConfirmPassword"></span>
        </div>

        <input class="btn-send" type="submit" value="Change Password" />

        <div asp-validation-summary="All" class="text-danger"></div>
    </form>
</div>