:root {
    --primary-color: #292D31; /*black*/
    --secondary-color: #9E8123; /*red*/
    --background-color: #DAE0EC; /*white*/
    --auxiliar-color: #9E8123; /*gold*/
    --text-color: #292D31; /*white*/
    --font-main: 'Segoe UI', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(160deg, var(--primary-color) 20%, var(--background-color) 200%)
}

/* Contenedor */

.wrapper {
    display: flex;
    width: 1200px;
    text-align: center;
    overflow: hidden;
}

    .wrapper:hover {
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
        transition: all 0.4s ease;
    }

/* Account Box */

.account-box {
    background: var(--background-color);
    color: var(--text-color);
    flex: 1;
    padding: 80px 80px;
}

    .account-box h2 {
        font-size: 1.6rem;
        margin-bottom: 20px;
        letter-spacing: 1px;
    }

    .account-box p {
        font-size: 1.2rem;
    }

    .account-box .input-field {
        position: relative;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        margin: 16px 0;
    }

        .account-box .input-field label {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            font-size: 16px;
            pointer-events: none;
            transition: 0.4s ease;
        }

        .account-box .input-field input {
            width: 100%;
            height: 40px;
            background: transparent;
            border: none;
            outline: none;
            font-size: 16px;
            padding: 0 8px;
            text-align: end;
        }

    .account-box input:focus label, .account-box input:valid label {
        font-size: 0.8rem;
        top: 8px;
        transform: translateY(-150%);
        color: var(--text-color);
        transition: 0.2s ease all;
    }

.forget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 32px 0 16px 0;
}

    .forget label {
        display: flex;
        align-items: center;
    }

        .forget label p {
            margin-left: 16px;
        }

#remember {
    accent-color: var(--text-color);
}

.btn-send {
    background-color: var(--primary-color);
    color: var(--background-color);
    width: 100%;
    font-weight: 800;
    padding: 16px 32px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: all 0.4s ease;
    margin: 8px 0 16px 0;
}

    .btn-send:hover {
        background: var(--secondary-color);
        color: var(--background-color);
    }

.urls {
    display: inline-block;
    align-items: inherit;
    margin: 8px 16px 8px 16px;
    color: #fff;
}

    .urls a {
        color: var(--text-color);
        text-decoration: none;
    }

        .urls a:hover {
            font-weight: 600;
            color: var(--text-color);
        }

.validation-summary-errors {
    margin: 20px 0 20px 0;
    padding: 8px 8px;
    background-color: var(--primary-color);
    color: var(--background-color);
    font-weight: bold;
    border-radius: 8px;
    font-size: 16px;
}

    .validation-summary-errors ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .validation-summary-errors li {
        margin-bottom: 2px;
    }

.field-validation-error {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 12px;
    margin-top: 4px;
    display: block;
}

.account-mark {
    flex: 1;
    padding: 80px 80px;
    background: url('https://i.pinimg.com/1200x/17/e2/2a/17e22a66e321ee1b35d4887375b3c8e7.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}